// app global css
.login-background {
  background-image: url('../assets/login-background.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.body--light {
  /* ... */
}

.body--dark {
  /* ... */
}
